In [11]:
import mysql.connector as connector
from mysql.connector import Error

In [12]:
try:
    connection=connector.connect(user="littleLemon",password="lemon")
except Error as er:
    print(er.msg)

print("Connection between MySQL and Python is established.\n")

Connection between MySQL and Python is established.

In [13]:
# Creating cursor object to communicate with entire MySQL database

cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

Cursor is created to communicate with the MySQL using Python.

In [14]:
# Set LittleLemonDB database for use

cursor.execute("USE LittleLemonDB")
connection.database
print("The database LittleLemonDB is set for use.")

The database LittleLemonDB is set for use.

In [15]:
show_tables_query = "SHOW TABLES;" 

cursor.execute(show_tables_query)

results=cursor.fetchall()

columns=cursor.column_names

print(columns)
for result in results:
    print(result)

('Tables_in_littlelemondb',)
('bookings',)
('customer',)
('menuitem',)
('menuitemrelation',)
('menus',)
('orderdeliverystatus',)
('orderdetails',)
('orders',)
('ordersview',)
('staff',)
('staffandorder',)

In [20]:
join_query = """ SELECT Customer.CustomerName,
Customer.PhoneNumber,
Customer.EmailID,
Orders.TotalCost
FROM Customer
LEFT JOIN Orders
ON Customer.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 60;
"""

In [21]:
cursor.execute(join_query)

In [22]:
results = cursor.fetchall()

In [23]:
columns=cursor.column_names

In [24]:
print(columns)
for result in results:
    print(result)

('CustomerName', 'PhoneNumber', 'EmailID', 'TotalCost')
('John Doe', '123-456-7890', 'john.doe@example.com', Decimal('250'))
('Jane Smith', '987-654-3210', 'jane.smith@example.com', Decimal('275'))
('Michael Johnson', '111-222-3333', 'michael.johnson@example.com', Decimal('225'))

In [25]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.